*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
}
.abcd{
    display: flex;
    flex-direction: column;
}
.container-pro{
    min-height:100px;
    padding-top:100px;
}
.cart{
  position: relative;
}
.cart p{
  position: absolute;
  top:-7px;
  right:13px;
}
.header{
  width:100%;
  background-color: goldenrod;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.header .logo{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.cart{
  display: flex;
  /* background-color: white; */
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
#cart-click{
  font-size:40px;
  color:saddlebrown;
}
.cart p{
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  color: white;
  background-color:darkslateblue;
  padding:13px;
}
.container-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  /* margin-bottom: 30px; */
}
#root{
  width:100%;
  display: grid;
  justify-content: center;
  align-items:start;
  grid-template-columns:repeat(4, 1fr);
  min-height: 100vh;
  grid-gap: 20px;
  padding:40px;
}
.sidebar{
  width:28%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
  position: absolute;
  right:-100%;
  top:80px;
  overflow-y: scroll;
  overflow-x: hidden;
  height:100vh;
  transition: 0.5s linear;
}
.sidebar-active {
  right:0;
}
.head{
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head i{
    color:white;
}
.foot{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding:8px;
  height:340px;
  width:300px;
}
.img-box{
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images{
  width:100%;
  height:180px;
  object-fit: cover;
  object-position: center;
}
.bottom{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
.box h2{
  font-size: 20px;
  color: red;
}
.box button{
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
.box button:hover{
  background-color: #333;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}
.row-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg{
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.fa-trash:hover{
  cursor: pointer;
  color: #333;
}
.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top:20px;
}
.search section{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section i{
  color:black;
  right:15px;
  position:absolute;
}
section input{
  padding:10px 40px 10px 20px;
  border-radius:30px;
  width:400px;
}
.search h1{
  font-size:40px;
  color:orangered;
  padding-bottom:5px;
  text-shadow: 2px 2px 3px black;
  box-shadow:2px 2px 3px black,-2px -2px 3px black;
  padding:5px 20px;
}
.search h1:hover{
  background-color: lightblue;
  cursor: pointer;
  transform:scale(0.9);
  transition: all 1s;
}

@media screen and (max-width:500px) {
  #root {
    display:grid;
    grid-template-columns: auto;
    padding:20px;
  }
  .search{
    flex-direction: column;
    gap:15px;
    padding-top:0;
  }
  .sidebar{
    top:67px;
    width:80%;
  }
  .cart-item h2{
    font-size:11px!important;
  }
  #cart-click {
    font-size: 31px;
    
}
.search h1{
  width:90%;
  text-align:center;
  font-size:26px; 
}
section input{
  width:95%;
  outline:none;
  border:2px solid black;
}
section i {
  right:27px;
}

}
@media screen and (min-width:500px) and (max-width:780px) {
  #root {
    display: flex;
    flex-wrap: wrap;
    padding:20px;
  }
  .search h1{
    width:90%;
    text-align:center;
    font-size:32px;
  }
  section input{
    width:400px;
  }
  .search{
    flex-direction: column;
    gap:15px;
    padding-top:0;

  }
  .sidebar{
    top:67px;
    width:52%;
  }
  .cart-item h2{
    font-size:13px!important;
  }
  .box{
    width:45%;
  }
  #cart-click{
    font-size:32px;
  }
}
@media screen and (min-width:780px) and (max-width:1300px) {
  #root{
    display: flex;
    flex-wrap: wrap;
  }
  .box{
    width:30%;
  }
  .search{
    flex-direction: column;
    gap:15px;
  }
  .sidebar{
    /* top:67px; */
    width:40%;
  }
}
.user-details h1{
  font-size: 30px;
}